// Global
body {
	background: #ddd;
	font-size: 16px;
	font-family: sans-serif;
}

#root {
	max-width: 1200px;
	margin: 0 auto;
}

.content {
	background: #fff;
	padding: 2em;
}

.search-area {

	input[type='text'] {
		width: 100%;
		font-size: 1.25em;
		padding: 0.75em 0.5em;
		display: inline-block;
		margin: 0;
		color: #000000;
		background: #fff;
		display: block;
		width: 85%;
		float: left;
		border: 1px solid #ddd;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	input[type='submit'] {
		width: 100%;
		font-size: 16px;
		font-size: 1.5em;
		padding: 0.52em 1em;
		display: inline-block;
		margin: 0;
		color: #fff;
		display: block;
		width: 15%;
		float: left;
		background: #eb4742;
		cursor: pointer;
		border: 1px solid #eb4742;
		transition: 0.25s;

		&:hover {
			background: darken( #eb4742, 25% );
			border-color: darken( #eb4742, 25% );
		}
	}
}

.search-results {
	padding: 1em 0;

	.search-result {
		margin: 0.25em 0;
		width: 100%;
		float: left;
		display: flex;

		.result {
			background: #eee;
			padding: 0.5em;
			display: inline-block;
			text-transform: capitalize;
			cursor: pointer;
			display: block;
			width: 90%;
			float: left;
			padding-left: 20px;
		}

		.save-btn {
			background: #adadad;
			color: #fff;
			padding: 0.5em;
			display: inline-block;
			text-transform: capitalize;
			cursor: pointer;
			display: block;
			width: 10%;
			float: left;
			text-align: center;
		}
	}
}

.saved-keywords {
	padding: 1em 0;

	.saved-keyword {
		margin: 0.25em 0;
		width: 100%;
		float: left;
		display: flex;

		.keyword {
			background: #ededed;
			padding: 0.5em;
			display: inline-block;
			text-transform: capitalize;
			cursor: pointer;
			display: block;
			width: 70%;
			float: left;
		}

		.remove-btn {
			background: #eb4742;
			color: #fff;
			padding: 0.5em;
			display: inline-block;
			text-transform: capitalize;
			cursor: pointer;
			display: block;
			width: 30%;
			float: left;
			text-align: center;
		}
	}
}

.download-keyword {
	.download-csv {
		width: 30%;
		font-size: 16px;
		font-size: 1em;
		padding: 0.5em 1em;
		display: inline-block;
		margin: 0;
		color: #fff;
		background: #eb4742;
		cursor: pointer;
		border: 1px solid #ddd;
		transition: 0.25s;

		&:hover {
			background: darken( #eb4742, 25% );
			border-color: darken( #eb4742, 25% );
		}
	}
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
} 
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}